<% include partials/header %>

<h2>Your longURL already exists in our system : <a href= <%= originalUrl %> > <%= originalUrl %> </a> </h2>
<h2>Dont forget your Shortened URL is <a href= <%= shortUrl %> > <%= shortUrl %> </a> </h2>

<a href="/">Go Back to Homepage</a>


<% include partials/footer %>