<% include partials/header %>

<h2>URL you want to tranform is <a href= <%= originalUrl %> > <%= originalUrl %> </a> </h2>
<h2>Unfortunately, this short URL is used :  <%= shortUrl %> ! Try a differet customized one!</a> </h2>

<a href="/">Go Back to Homepage</a>


<% include partials/footer %>