h1 {
    text-align: center;
    color: white;
    font-family: Verdana;
}
h2 {
    color: dodgerblue;
    font-family: "Chalkboard SE";
}
h3 {
    color: midnightblue;
    display : inline;
    font-size: 22px;
    font-family: "Helvetica Neue";
}
p {
    font-size: 20px;
    display : inline;
    font-family: "Helvetica Neue";
}
li {
    font-size: 20px;
    line-height: 30px;
    font-family: "Helvetica Neue";
}
input[type=text] {
    border: 2px solid #aaa;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    transation: .4s;
}
input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow:0 0 8px 0 dodgerblue;
}
input[type=button]{
    background-color: darkblue;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.div3 {
    border-top: lightskyblue 1px solid;
    border-bottom: lightskyblue 1px solid;
    line-height: 60px;
    background-color: lightskyblue;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border-radius: 20px;
}
.div1 {
    background-color: dodgerblue;
    border-radius: 40px;
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 800px;
}
td {
    width: 400px;
    height: 2em;
    border: 1px solid #4b4b4b;
    text-align: center;
    font-size: 20px;
}
th{
    width: 400px;
    height: 2em;
    border: 1px solid #4b4b4b;
    text-align: center;
    font-size: 20px;
}
.button2 {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}